$blue: #1877F2;
$green: #42B72A;

$border-radius: 0;

@import "~bootstrap/scss/bootstrap";


body{
    min-height: 100vh;
    background: linear-gradient(
        203deg,
        rgba(253, 29, 29, 0.9) 0%,
        rgba(29, 134, 253, 0.9) 50%,
        rgba(175, 59, 252, 0.9) 100%,
    );
}